<div class="example-config">
  <button kendo-button (click)="pdf.saveAs('page.pdf')">
    Save As PDF...
  </button>
</div>

<kendo-pdf-export #pdf paperSize="A4" [scale]="0.75" margin="2cm">
  <div style="width: 800px;">
    <kendo-chart>
      <kendo-chart-title text="Gross domestic product growth /GDP annual %/"></kendo-chart-title>
      <kendo-chart-series>
        <kendo-chart-series-item type="line" style="smooth" [data]="[3.907, 7.943, 7.848, 9.284, 9.263, 9.801, 3.890, 8.238, 9.552, 6.855]"
          name="Series 1">
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>

    <div id="gauge"></div>

    <div id="map"></div>
  </div>
</kendo-pdf-export>
